@import url(../css/reset.css);

.header{
    display:flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 25px;
    width: 1000px;
    height: 70px;
    align-items: center;
}

.header > a{
    font-size: 20px;
    font-weight: bold;
}

.headerMenu{
    display:flex;
}

.headerMenu > li{
    margin-right: 10px;
}

.headerMenu{
   font-size: 20px;
   font-weight: bold;
}

.search{
    display: flex;
    border-bottom: 1px solid #000;
}

.searchTextara > input {
    border: none;
}